{% extends "base.html" %}
{% block content %}
      <div class="content">
        <span class="title"></span>
        <h1>Thank<span>You </span>for visting my page</h1>
        <p>
          <h3>
            Let me introduce myself.<br>
               I'm Tejas Kadam Form a town name Dombivili . I'm currently in my <br>
               final year of Engineering student at Vasantdada patil college of engineering<br>
               pursuing degree in Computer Engineering <br><br>
        </h3>
        <h2> My technical skills include </h2>
        <ul>
            <li>Languages : Python, HTML, CSS, SQL .  </li>
            <li>Developer Tools : VS Code, Canva . </li>
            <li>Technologies/Frameworks : ReactJS, NodeJS, Git, Flutter .</li>
        </ul>
        </p>
      </div>
{% endblock content %}