{% extends "base.html" %}
{% block content %}
        
    <div class="column">
        <div class="card">
            <h1><center><p class="title">GIT HUB</p></center></h1>
            <a href="https://github.com/Tejas-15/"><center><p><button>Contact</button></p></center></a>
        </div>
            
    </div>
    <div class="column">
        <div class="card">
            <h1><center><p class="title">LEET CODE</p></center></h1>
            <a href="https://leetcode.com/tejas_kadam_1/"><center><p><button>Contact</button></p></center></a>
        </div>
            
    </div>
{% endblock content %}