{% extends "base.html" %}
{% block content %}
      <div class="content">
        <span class="title"></span>
        <h1>Hello, I’m <span>Tejas Kadam</span></h1>
        <p>
          I’m a fresher in the corporate culture but ready to accept challenges, seeking a position to utilize my
technical skills and abilities. Looking for a Job position at challenging and professional working environment
to utilize and apply my knowledge and build upon my skills that are essential within the technology industry.
        </p>
        <a href="{% url 'project' %}" class="btn">My Projects</a>
      </div>
{% endblock content %}