{% extends "base.html" %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="column">
                <div class="card">
                    <h2><center><p class="title">Flower detection</p></center></h2>
                    <a href="https://github.com/Tejas-15/flower-detection"><center><p><button>Press me</button></p></center></a>
                  </div>
                  
            </div>
            <div class="column">
                <div class="card">
                    <h2><center><p class="title">Bird Species Identification Using CNN</p></center></h2>
                    <a href="https://github.com/Tejas-15/Bird-Species-Identification-Using-CNN"><center><p><button>Press me</button></p></center></a>
                  </div>
                  
            </div>
            <div class="column">
                <div class="card">
                    <h2><center><p class="title">Parking Management System</p></center></h2>
                    <a href="https://github.com/Tejas-15/Car-Mangement-system"><center><p><button>Press me</button></p></center></a>
                  </div>
                  
            </div>
            <div class="column">
                <div class="card">
                    <h2><center><p class="title">Qr-attendance-Recorded</p></center></h2>
                    <a href="https://github.com/Tejas-15/Qr-attendance-Recorded"><center><p><button>Press me</button></p></center></a>
                  </div>
                  
            </div>
        </div>
    </div>
{% endblock content %}